/* add_class.css */

/* Style the form container */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

fieldset {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form legend */
legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style form inputs */
input[type="text"],
input[type="number"],
textarea,
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* Style the submit button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5c4c4c; /* Bootstrap primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
    background-color: #301601; /* Darker shade of Bootstrap primary color */
}
