/* class.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    text-align: right;
    padding-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #f8f9fa;
}

section {
    padding: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #582020;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #000000;
}

input[type="submit"]:focus {
    outline: none;
}

textarea {
    resize: vertical;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.bg-info-subtle {
    background-color: #d1ecf1;
}

.text-info-emphasis {
    color: #0dcaf0;
}

input[type="submit"][name="delete"] {
    background-color: #582020;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"][name="delete"]:hover {
    background-color: #c82333;
}
